.start-screen{
    background-color: #404040;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
        height: 100vh;
        width: 100vw;
        object-fit: contain;
    }
}

.title{
    background-color: rgba($color: #000000, $alpha: 0.1);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    flex-direction: column;
    justify-content: center;
    
    p{
        color: yellow;
        display: flex;
        height: 90px;
        align-items: center;
        justify-content: center;
        background-color: #f25c5c;
        font-size: 80px;  
        max-width: 600px;
        padding-left: 32px ;
        padding-right: 32px ;
        border-radius: 10px;
        margin-bottom: 32px;
        
    }
    img{
        width: 14vw;
        height: auto;
        cursor: pointer;
        &:hover{
            filter:brightness(1.25)
        }
    }

}

@media screen and (max-width:900px){
    .title{
        p{
            font-size: 40px;
            height: 80px;             
        }
    }
}

@media screen and (max-width:530px){
    .title{
        p{
            font-size: 24px;  
            height: 48px;           
        }
    }
}

@media screen and (max-width:350px){
    .title{
        p{
            font-size: 14px;  
            height: 28px;           
        }
    }
}

@media screen and (max-height:700px){
    .title{
        p{
            font-size: 40px;
            height: 80px;             
        }
        img{
            width: 10vw;
            height: auto;
          
        }
    }
}

@media screen and (max-height:500px){
    .title{
        p{
            font-size: 24px;  
            height: 48px;           
        }
        img{
            width: 8vw;
            height: auto;
          
        }
    }
}