.player{
    display: flex;
    align-items: center;
    border-radius: 50px 0px 0px 50px;
    span{
        font-size: 32px;
        margin-left: 16px;
    }
    background-color: rgb(140, 140, 140);
    width: 350px;
    img{
        width: 70px;
        height: 70px;
        object-fit: cover;
        border-radius: 100%;
        background-color: floralwhite;
    }

}

.player-active{
    background-color: orange;

}